@mixin block-styles {
  display: flex;
  background-color: rgba(0, 50, 200, 0.2);
  align-items: center;
  box-shadow: 0 0 1px 0 #fff;
  border-radius: 3px;
}

.thread {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  box-shadow: 0 0 2px 0 #fff;
  color: #05a;
  padding: 10px;
  margin: 0 0 5px;
  transition: all 0.2s;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: all 0.2s;

  &:hover {
    background-color: rgba(255, 255, 255, 0.4);
    transform: translateX(5px);
  }

  &--column {
    display: flex;
    background-color: rgba(0, 50, 200, 0.2);
    align-items: center;
    box-shadow: 0 0 1px 0 #fff;
    border-radius: 3px;
    height: 40px;
    padding: 0 20px;
    margin: 0 5px;

    &:last-child {
      margin-right: 0;
    }
  }

  &--icon {
    @include block-styles();
    width: 25px;
    height: 25px;
    min-width: 25px;
    margin-right: 5px;
  }

  &--detail {
    color: #fff;

    strong {
      font-weight: 600;
    }
  }

  &--message {
    font-size: 12px;
    margin-left: 20px;
    color: #ddf;
  }

  &--meta {
    color: #fff;
    justify-content: space-between;

    &-container {
      width: 25%;
    }
  }

  &:last-child {
    margin: 0;
  }
}

.thread-list-columns {
  background-color: rgba(0, 50, 200, 0.3);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  color: #fff;
  display: flex;
  padding: 10px;
}

.thread--heading {
  margin: 0 5px;
  padding: 0 30px 0 10px;
  font-size: 12px;
  font-weight: bold;
  overflow: hidden;
  cursor: default;

  &:last-child {
    margin-right: 0;
  }
}