.forum-page {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 20px 100px;
}

.forum-header {
  height: 200px;
  margin-bottom: 30px;
  width: 100%;
}

.forum-body {
  width: 100%;

  &--threads {
    background-color: rgba(255,255,255,0.2);
  }

  &--thread-list {
    padding: 15px 10px;
  }
}