body {
  margin: 0;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.app {
  position: relative;
  z-index: 2;
}

.background {
  background: linear-gradient(rgb(55, 9, 129), rgb(108, 75, 184));
  height: 100vh;
  position: fixed;
  width: 100vw;
}